body{
margin:0;
font-family:sans-serif;
background:#f4f6fb;
}

.sidebar{
width:220px;
height:100vh;
position:fixed;
background:#1e3a8a;
color:white;
padding:15px;
}

.sidebar button{
width:100%;
padding:10px;
margin:5px 0;
border:none;
background:#2563eb;
color:white;
border-radius:8px;
cursor:pointer;
}

.sidebar button:hover{
opacity:0.8;
}

.content{
margin-left:240px;
padding:20px;
}

.card{
background:white;
padding:15px;
border-radius:10px;
margin:10px 0;
text-align:center;
}

.grid{
display:flex;
gap:10px;
}

table{
width:100%;
border-collapse:collapse;
background:white;
}

th,td{
padding:8px;
border:1px solid #ddd;
}

.login-box{
width:300px;
margin:120px auto;
padding:25px;
background:white;
border-radius:12px;
text-align:center;
}

input,select{
width:100%;
padding:10px;
margin:8px 0;
}

.error{
color:red;
}
